# Copy this file to .env and set local mock credentials as required.
CDS_REQUIRES_AUTH_USERS={"planetXUser":{"password":"secret","attr":{"userId":"01M0G5N4XKSC2R2G5XHN7X6TAS","planet":"01M0G5N4XJ5XJS5R6A55YR3XXX"}},"planetYUser":{"password":"secret","attr":{"userId":"01M0G8JD60017H4K2QWMXYZSAB","planet":"01M0G5N4XJD7B73AW7SWBXV19T"}},"adminUser":{"password":"secret","attr":{"userId":"01M0G8JD60027H4K2QWMXYZSAB","isAdmin":true}}}
